
<app-progress *ngIf="dataLoading"></app-progress>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Supplier Master</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/admin/admin-dashboard">Home</a></li>
                <li class="breadcrumb-item">Master Entry</li>
                <li class="breadcrumb-item active">Manage Supplier</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">

                    <div class="card-body">
                        <h5 class="card-title">List Supplier
                            <button class="btn btn-primary btn-sm" style="float: right;" (click)="newSupplier(myForm)"> Add
                                New</button>
                        </h5>

                        <div class="row">
                            <div class="dataTable-top">
                                <div class="dataTable-dropdown">
                                    <select class="dataTable-selector form-select form-select-sm" [(ngModel)]="itemPerPage">
                                        <option *ngFor="let option of pageSize" [value]="option">{{option}} </option>
                                    </select>
                                    entries per page
                                </div>
                                <div class="dataTable-search"><input
                                        class="dataTable-input form-control form-control-sm" [(ngModel)]="Search" placeholder="Search..."
                                        type="text"></div>
                            </div>
                            <div class="col-lg-12 table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <th>#</th>
                                        <th style="cursor: pointer;" (click)="sort('CompanyName')">Company Name</th>
                                        <th style="cursor: pointer;" (click)="sort('ContactPersonName')">Contact Person Name</th>
                                        <th style="cursor: pointer;" (click)="sort('StatusName')">GST No</th>
                                        <th style="cursor: pointer;" (click)="sort('StatusName')">State Code</th>
                                        <th style="cursor: pointer;" (click)="sort('StatusName')">Mobile No</th>
                                        <th style="cursor: pointer;" (click)="sort('StatusName')">Email</th>
                                        <th style="cursor: pointer;" (click)="sort('StatusName')">Full Address</th>
                                        <th style="cursor: pointer;" (click)="sort('StatusName')">Status</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let model of SupplierList|filter:Search|orderBy:sortKey:reverse|paginate: { itemsPerPage: itemPerPage, currentPage: p } ; let i = index">
                                            <td>{{(itemPerPage * (p -1)) +i+ 1}}</td>
                                            <td>{{model.CompanyName}}</td>
                                            <td>{{model.ContactPersonName}}</td>
                                            <td>{{model.GSTNo}}</td>
                                            <td>{{model.StateCode}}</td>
                                            <td>{{model.MobileNo}}</td>
                                            <td>{{model.Email}}</td>
                                            <td>{{model.FullAddress}}</td>
                                            <td><span [ngClass]="model.Status == 2 ?'badge bg-warning':'badge bg-success'">
                                                    {{model.StatusName}}</span></td>
                                            <td>
                                                <button class="btn btn-sm btn-warning" (click)="editSupplier(model)"><i
                                                        class="bi bi-pencil-square"></i> </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-danger" (click)="deleteSupplier(model)"><i
                                                        class="bi bi-trash-fill"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                            <div class="dataTable-bottom">
                                <pagination-controls (pageChange)="onTableDataChange($event)" style="float: right;"
                                class="my-pagination"></pagination-controls>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>
</main>

<div id="modal_popUp" class="modal fade">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{Supplier.SupplierId > 0 ? 'Update' : 'New'}} Supplier</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #myForm="ngForm">
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label class="form-label">Company Name</label>
                            <input type="text" placeholder="Enter Company Name" #CompanyName="ngModel"
                                [(ngModel)]="Supplier.CompanyName" name="CompanyName" class="form-control"
                                [ngClass]="{'is-invalid':submitted && CompanyName.invalid}" required autofocus>

                            <div *ngIf="CompanyName.invalid && (CompanyName.dirty || CompanyName.touched || submitted)"
                                class="text-danger">
                                <div *ngIf="CompanyName.errors?.['required']">
                                    Company Name is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="form-label">Contact Person Name</label>
                            <input type="text" placeholder="Enter Contact Person Name" #ContactPersonName="ngModel"
                                [(ngModel)]="Supplier.ContactPersonName" name="ContactPersonName" class="form-control"
                                [ngClass]="{'is-invalid':submitted && ContactPersonName.invalid}" required autofocus>

                            <div *ngIf="ContactPersonName.invalid && (ContactPersonName.dirty || ContactPersonName.touched || submitted)"
                                class="text-danger">
                                <div *ngIf="ContactPersonName.errors?.['required']">
                                    Contact Person Name is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="form-label">GST No</label>
                            <input type="text" placeholder="Enter GST No" #GSTNo="ngModel"
                                [(ngModel)]="Supplier.GSTNo" name="GSTNo" class="form-control">

                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="form-label">State Code</label>
                            <input type="text" placeholder="Enter State Code" #StateCode="ngModel"
                                [(ngModel)]="Supplier.StateCode" name="StateCode" class="form-control">
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="form-label">Mobile No</label>
                            <input type="number" placeholder="Enter Mobile No" #MobileNo="ngModel"
                                [(ngModel)]="Supplier.MobileNo" name="MobileNo" class="form-control"
                                [ngClass]="{'is-invalid':submitted && MobileNo.invalid}" required autofocus>

                            <div *ngIf="MobileNo.invalid && (MobileNo.dirty || MobileNo.touched || submitted)"
                                class="text-danger">
                                <div *ngIf="MobileNo.errors?.['required']">
                                    Mobile No is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="form-label">Email</label>
                            <input type="text" placeholder="Enter Email" #Email="ngModel"
                                [(ngModel)]="Supplier.Email" name="Email" class="form-control">
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="form-label">Full Address</label>
                            <textarea placeholder="Enter Full Address" #FullAddress="ngModel"
                                [(ngModel)]="Supplier.FullAddress" name="FullAddress" class="form-control"></textarea>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="form-label">Status</label>
                            <select class="form-select" #Status="ngModel" [(ngModel)]="Supplier.Status" name="Status"
                                [ngClass]="{'is-invalid':submitted && Status.invalid}" required autofocus>
                                <option value="">--Select Status--</option>
                                <option [value]="model.Key" *ngFor="let model of StatusList">
                                    {{model.Value}}</option>
                            </select>
                            <div *ngIf="Status.invalid && (Status.dirty || Status.touched || submitted)"
                                class="text-danger">
                                <div *ngIf="Status.errors?.['required']">
                                    Status is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveSupplier(myForm)">Save changes</button>
            </div>

        </div>
    </div>
</div>